<!DOCTYPE html>
<html>

<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<style>
    #curs:hover{
        cursor: pointer;
    }
</style>
</head>

<body style="background-image: url('img/Background-website-01.jpg'); background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
  {{>AuthNavbar}}
<br><br>
<div class="container">
<h2 style="color: black;">Sınıflar</h2>
<div class="card-group">
{{#if lectures }} 
{{#lectures}}
   <div class="row">
    <div class="col-md-4" style="margin-right: 30px; margin-bottom: 15px">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><a id="link" href="/lectures/{{this._id}}">{{this.lectureName}}</a></h5>
    <h6 class="card-subtitle mb-2 text-muted">{{this.lectureInstructor}}</h6>
    <p class="card-text">{{this.description}}</p>
  </div>
</div>
</div>
</div> 
{{/lectures}}
{{else}}
<div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Henüz sınıfınız yok...</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Yeni bir sınıfa katıl</h6>
                        <form action="/lectures/join" method="POST">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">#</span>
                                </div>
                                <input type="text" required class="form-control" id="lectureNo" name="lectureNo" placeholder="Sınıf Kodu" aria-label="Sınıf Kodu" aria-describedby="basic-addon1">
                                </div>
                                <div class="text-center">
                            <button type="submit" style="width: 30%" class="btn btn-warning"><b>Katıl</b></button></div>

                        </form>
                    </div>
                    </div>
                    {{/if}}
</div>
 <br><br><hr><br><br>
<h2 style="color: black;">Ödevler</h2>
<div class="card-group">
{{#assignments}}
   <div class="row">
    <div class="col-md-4" style="margin-right: 30px; margin-bottom: 15px">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><a id="link" href="/assignments/{{this._id}}">{{this.name}}</a></h5>
    <h6 class="card-subtitle mb-2 text-muted">{{this.dueDate}}</h6>
    <p class="card-text">{{this.content}}</p>
  </div>
</div>
</div>
</div> 
{{/assignments}}
</div>


</div>

</body>

</html>